*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header{
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

header h1{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.container{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createQuizz{
    width: 340px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createQuizz p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}

.createQuizz button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: 
    #FAFAFA;
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.topQuizzes{
    width: 100vw;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topQuizzes h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 15px;
}

.topQuizzes button{
    border: none;
    background-color: #FAFAFA;
}

.topQuizzes ion-icon{
    width: 31px;
    height: 30px;
    color:#EC362D;
    margin-right: 15px;
}

.allQuizzes{
    display: flex;
    flex-direction: column;
}

.allQuizzes h1{
    margin-top: 35px;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.quizzes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizzes img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 74.58%, #000000 100%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.quizz{
    width: 340px;
    height: 181px;
    position: relative;
    margin-bottom: 14px;
}

.quizzes h2{
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    z-index: 3;
}

.topQuizzPage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-color{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 74.58%, #000000 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.topQuizzPage img{
    margin-top: 69px;
    width: 100%;
    height: 142px;
    object-fit: cover;
}

.topQuizzPage h1{
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    bottom: 71px;
}

.firstQuestion{
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    background-color: #434CA0;
    width: 340px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.answers{
    width: 340px;
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.answer img{
    width: 163px;
    height: 113px;
}

.answer h2{
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
}

.secondQuestion{
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondQuestion .title{
    background-color: #A0438D;
}

main h2:first-child{
    font-weight:700;
    font-size: 20px;
    margin-bottom: 27px;
}
input{
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px; 
    font-weight: 400;
    font-size: 19px;
    outline: 0;
}
input::placeholder{
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
    font-style: italic;
}
main button{
    width: 324px;
    height: 54px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size:21px;
    color: #FFF5F4;
    margin-top:80px;
    border: 0px;
    border-radius: 15px;
    margin-bottom:60px
}
.quiz_creation{
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.questions{
    background-color: #FFFFFF;
    width: 375px;
    height: 256px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.box_question{
    background-color: #FFFFFF;
    width: 375px;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 17px;
}
h3{
    font-weight: 700;
    font-size: 20px;
}
.margin-questions{
    margin-top:-10px;
    margin-bottom: 10px;
}
.other_question{
    width: 375px;
    height: 74px;
    margin-top: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.levels{
    background-color: #FFFFFF;
    width: 375px;
    height: 439px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.levels h3{
    margin-bottom: 12px;
}
.button_finish{
    width: 324px;
}
.button_acess{
    width: 220px;
    margin-top:45px;
    margin-bottom:5px;
}
.button_home{
    width: 220px;
    background-color: #FAFAFA;
    color: #818181;
    margin-top:4px;
    margin-bottom: 0px;
}
.img_potterhead{
    margin-top: 16px;
    position: relative;
}
.img_potterhead img{
    width: 340px;
}
.quiz_creation p{
    position: absolute;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    bottom:23px;
    left: 23px;
}
.levels input:nth-child(8){
    height: 177px;
}
.hidden{
    display: none;
}


@media (min-width: 1100px) {

    .createQuizz{
        width: 1051px;
        margin-top: 77px;
    }
    .topQuizzes{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .allQuizzes{
        display: flex;
        flex-direction: column;
        width: 1051px;
    }
    .quizzes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quizzPage img{
        margin-top: 69px;
        width: 100%;
        height: 227px;
        object-fit: cover;
    }

    .title{
        width: 690px;
        height: 138px;
    }

    .answers{
        width: 690px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .answer img{
        width: 332px;
        height: 175px;
    }

    main button {
        width: 370px;
    }
    .questions{
        width: 600px;
    }
    .box_question{
        width: 600px;
    }
    .other_question{
        width: 600px;
    }
    .levels{
        width: 600px;
        height: 316px;
    }
    main h2:first-child{
        font-size: 23px;
    }
    .img_potterhead img{
        width: 375px;
    }
    .quiz_creation{
        margin-top: 140px;
    }
    .levels input:nth-child(8){
        height: 46px;
    }
    .hidden{
        display: none;
    }

}