*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header{
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header h1{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.container{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createQuizz{
    width: 340px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createQuizz p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}

.createQuizz button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: 
    #FAFAFA;
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.topQuizzes{
    width: 100vw;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topQuizzes h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 15px;
}

.topQuizzes button{
    border: none;
    background-color: #FAFAFA;
}

.topQuizzes ion-icon{
    width: 31px;
    height: 30px;
    color:#EC362D;
    margin-right: 15px;
}

.allQuizzes{
    display: flex;
    flex-direction: column;
}

.allQuizzes h1{
    margin-top: 35px;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.quizzes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizzes img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 74.58%, #000000 100%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.quizz{
    width: 340px;
    height: 181px;
    position: relative;
    margin-bottom: 14px;
}

.quizzes h2{
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    z-index: 3;
}

.hidden{
    display: none;
}


@media (min-width: 1100px) {

    .createQuizz{
        width: 1051px;
        margin-top: 77px;
    }
    .topQuizzes{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .allQuizzes{
        display: flex;
        flex-direction: column;
        width: 1051px;
    }

    .quizzes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }












    main h2:first-child{
        font-weight:700;
        font-size: 23px;
        margin-bottom: 27px;
    }
    input{
        width: 564px;
        height: 46px;
        border: 1px solid #D1D1D1;
        border-radius: 5px;
        padding-left: 20px; 
        font-weight: 400;
        font-size: 19px;
        outline: 0;
    }
    input::placeholder{
        font-weight: 400;
        font-size: 19px;
        color: #BABABA;
        font-style: italic;
    }
    main button{
        width: 370px;
        height: 54px;
        background-color: #EC362D;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size:21px;
        color: #FFF5F4;
        margin-top:80px;
        border: 0px;
        border-radius: 15px;
        margin-bottom:80px
    }
    .quiz_creation{
        margin-top: 71px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .questions{
        background-color: #FFFFFF;
        width: 600px;
        height: 256px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .box_question{
        background-color: #FFFFFF;
        width: 600px;
        height: 825px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 27px 17px;
    }
    h3{
        font-weight: 700;
        font-size: 20px;
    }
    .margin-questions{
        margin-top:-10px;
        margin-bottom: 10px;
    }
    .other_question{
        width: 600px;
        height: 74px;
        margin-top: 24px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .levels{
        background-color: #FFFFFF;
        width: 600px;
        height: 316px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .levels h3{
        margin-bottom: 12px;
    }
    .button_finish{
        width: 324px;
    }
    .button_acess{
        width: 220px;
        margin-top:45px;
        margin-bottom:5px;
    }
    .button_home{
        width: 220px;
        background-color: #FAFAFA;
        color: #818181;
        margin-top:4px;
        margin-bottom: 0px;
    }
    .img_potterhead{
        margin-top: 16px;
        position: relative;
    }
    .quiz_creation p{
        position: absolute;
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 400;
        bottom:23px;
        left: 23px;
    }




    .hidden{
        display: none;
    }

}